.main {
  min-height: 100vh;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", serif;

  .container {
    width: 70rem;

    .feature-section {
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 0.8rem;

        .hero-text {
          color: white;
          font-size: 1.4rem;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }

        .sub-text {
          color: #b3b3b3;
          font-size: 0.85rem;
          font-weight: 500;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            bottom: 4px;
            background-color: white;
            height: 0.5px;
            width: 100%;
            visibility: hidden;
          }

          &:hover {
            &::before {
              visibility: visible;
            }
          }
        }
      }

      .cards-container {
        margin-top: 0.3rem;
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));

        .card {
          border-radius: 8px;
          padding: 0.8rem;
          cursor: pointer;
          transition: 0.1s ease-in;

          .img-wrapper {
            position: relative;

            .card-img {
              border-radius: 8px;
            }

            .play-btn-wrapper {
              position: absolute;
              bottom: 0.5rem;
              right: 0.5rem;
              z-index: 99;
              transform: translateY(0.5rem);
              opacity: 0;
              visibility: hidden;
              transition: 0.2s;
              border-radius: 50%;

              .tooltip-text {
                position: absolute;
                text-wrap: nowrap;
                z-index: 99;
                background-color: #1f1f1f;
                color: white;
                font-size: 0.85rem;
                padding: 5px;
                border-radius: 5px;
                left: 50%;
                transform: translateX(-50%);
                top: -2.3rem;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
                opacity: 0;
                visibility: hidden;
                transition: 0.2s ease-in 1s;
              }

              .play-btn {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: #35cc67;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;

                .play-icon {
                  width: 1.5rem;
                  height: 1.5rem;
                }

                &:hover {
                  transform: scale(1.05) !important;
                  background-color: #38d96e;
                }

                &:active {
                  background-color: #32bf61;
                }
              }

              &:hover {
                .tooltip-text {
                  opacity: 1;
                  visibility: visible;
                }
              }

              &:not(:hover) {
                .tooltip-text {
                  opacity: 0;
                  visibility: hidden;
                  transition: none;
                }
              }
            }
          }

          .text {
            margin-top: 0.5rem;

            .hero-text {
              display: block;
              color: white;
              font-size: 0.95rem;
              opacity: 97%;

              &:hover {
                text-decoration: underline;
              }
            }

            .sub-text {
              margin-top: 0.15rem;
              color: #b3b3b3;
              font-size: 0.8rem;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
          }

          &:hover {
            background-color: #1f1f1f;

            .img-wrapper .play-btn-wrapper {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }

          &:active {
            &:not(:has(.play-btn:active)) {
              background-color: black;
            }
          }
        }
      }
    }
  }
}
